<h1>Keith's Game of Life</h1>
<h2>World number <%= @cur_world.tick_ct %> </h2>
<div id="container">
<% @cur_world.board.each do |row| %>
	<% row.each do |value| %>
		<%= value.alive? ? "*" : "." %>
	<%end%>
	<br />
<%end%>
</div>
<h5>Muhahahahahahahaha</h5>